*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "roboto-l";
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    
}
@font-face {
    font-family: "roboto-m";
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "roboto-B";
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
#header{
    font-family: "roboto-B";
    position: fixed;
    top: 0;
    left:0;
    height: 5vh;
    width:100%;
    background-color: #1d87b1;
    opacity: 90%;
    color:white;
    box-shadow: 0px 2px 8px rgb(0,0,0); 
}
#header-container{
    font-family: "roboto-B";
    margin:0.75vh auto;
    max-width: 1920px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;  
    padding:0 2% 0 2%; 
}
#nav-container{
    font-family: "roboto-B";
    font-size:2vh;
    
}
#nav-container>a{
    text-decoration: none;
    color:inherit;

}
#navigation>p>a{
    text-decoration: none;
    color:#fa8238
}
#navigation>p>a:hover{
    text-decoration: underline;
}
.navigation-link{
    font-size: 1.5vh;
}
#navigation>p{
    font-size: 1.2vh;
    text-align: end;
}
.search-box {
    background: rgb(255, 255, 255);
    height: 2.5vh;
    min-width: 2.5vh;
    border-radius: 40px;
    display:flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

}
.search-text {
    font-family: "roboto-m";
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    height: 1.5vh;
    font-size: 1.5vh;
    width: 0;
    transition: 0.4s;
}
.loupe{
    height:100%;
}
#header-container{
    height:100%;
}
.logo{
    height:80%;
}
#search-btn {
    width:1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    border:none;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    cursor: pointer;
}

.search-box:hover > .search-text {
    width:320px;
    
}
.search-text:focus{
    width:320px;
}
#nav-container{
    display:flex;
    flex-direction: row;
}
#footer{
    position: fixed;
    bottom: 0;
    left:0;
    height: 5vh;
    width:100%;
    background-color: #1d87b1;
    opacity: 90%;
    color:white;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .search-box {
        padding: 5px;
    }
    .loupe{
        width:15px;
    }
    .search-box:hover > .search-text {
        width:150px;
    }
    .search-text:focus{
        width:150px;
    }
}

@media only screen and (max-width: 767px) {
    
    .search-box {
        padding: 5px;
    }
    .loupe{
        width:10px;
    }
    .search-box:hover > .search-text {
        width:80px;
    }
    .search-text:focus{
        width:80px;
    }
}