*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}

#container{
    max-width: 1920px;
    width: 100%;
    height: 90vh;
    margin:5vh auto;
}
#singup-container{
    width:40vh;
    background-color: #1B80BF;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 0.5vh;
    padding: 2.5vh;
    box-shadow: 2px 2px 8px rgb(0,0,0);
}
#forms{
    width: 35vh;
    position:relative;
    top:10%;
    font-family: "roboto-m";
    font-size: 1.5vh;
    color:white;
}
.singup-input{
    border:none;
    border-radius: 0.5vh;
    height: 2.5vh;
    width: 100%;
    font-size: 1.5vh;
    padding: 3px;
    margin-bottom: 1vh;
}

#forms>button{
    width:20vh;
    height:3vh;
    margin:5vh 7.5vh;
    border-radius: 0.5vh;
    border:none;
    background-color: white;
    color:#0f354d;
    cursor:pointer;
    font-family:"roboto-B";
    font-size: 0.8em;
    transition: 0.3s;
}
#forms>button:hover{
    color:white;
    background-color: #0f354d;
}


